In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine, text

In [2]:
DB_HOST = os.getenv('DB_HOST')
DB_PORT = os.getenv('DB_PORT')
DB_USER = os.getenv('DB_USER')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_NAME = os.getenv('DB_NAME')

In [3]:
engine = create_engine(f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}")
connection = engine.connect()

In [4]:
rating_df = pd.read_sql_query(f"SELECT * FROM rating_events;", connection)
rating_df

          id  exhibit_id  rating_value_id                  rated_at
0          0           5                1 2023-03-06 15:09:21+00:00
1          1           2                2 2023-03-06 17:43:27+00:00
2          2           2                4 2023-03-06 13:13:34+00:00
3          3           1                4 2023-03-06 17:20:43+00:00
4          4           5                2 2023-03-06 14:54:21+00:00
...      ...         ...              ...                       ...
66043  66043           3                2 2023-03-06 08:43:43+00:00
66044  66044           3                1 2023-03-06 17:06:19+00:00
66045  66045           3                2 2023-03-06 14:00:58+00:00
66046  66046           3                1 2023-03-06 11:06:09+00:00
66047  66047           3                3 2023-03-06 13:08:47+00:00

[66048 rows x 4 columns]

In [5]:
support_df = pd.read_sql_query(f"SELECT * FROM support_events;", connection)
support_df

Empty DataFrame
Columns: [id, exhibit_id, support_value_id, made_at]
Index: []